@import url(https://fonts.googleapis.com/css?family=Inter);

.body {
    font-family: 'Inter', sans-serif !important;
}

.navbar-toggler {
  margin-left: auto;
  border-color: transparent !important;
}

.headline {
  background-image: url(./assets/headerbg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.intro {
  margin-top: 30%;
}

.btn-group .btn {
  margin-right: 5px;
  border-radius: 5px !important;
  background-color: #ebf0ee;
}

.button-padd {
  padding: 4% !important;
}

.col-w {
  width: 85% !important;
}